@font-face {
    font-family: "PP Editorial New";
    src: url(PPEditorialNew-Regular.otf);
}

body {
    margin: 0;
    padding: 0;
    position: relative; /* 절대 위치를 사용하려면 부모가 relative여야 함 */
    width: 100vw;
    height: 100vh;
    font-family: 'PP Editorial New', 'Editorial New', sans-serif;
    color: black;
  }
  
  .drag {
    position: absolute;
    font-size: 48px;
    font-weight: 400;
    left: 22px;
    top: 15px;
    word-wrap: break-word;
    font-family: 'PP Editorial New', 'Editorial New', sans-serif;
  }
  
  .swipe {
    position: absolute;
    left: 109px;
    top: 130px;
    width: 133px;
    height: 41px;
    font-size: 48px;
    font-weight: 400;
    font-family: 'PP Editorial New', 'Editorial New', sans-serif;
  }
  
  .flick {
    position: absolute;
    left: 23px;
    top: 254px;
    width: 135px;
    height: 30px;
    font-size: 48px;
    font-weight: 400;
  }

  .nudge {
    position: absolute;
    top: 318px;
    left: 231px;
    width: 135px;
    height: 30px;
    font-size: 48px;
    font-weight: 400;
  }

  .pinch {
    position: absolute;
    top: 398px;
    left: 190px;
    width: 135px;
    height: 30px;
    font-size: 48px;
    font-weight: 400;
  }


  .spread {
    position: absolute;
    top: 488px;
    left: 251px;
    width: 135px;
    height: 30px;
    font-size: 48px;
    font-weight: 400;
  }

  .singletap {
    position: absolute;
    top: 595px;
    left: 27px;
    width: 429px;
    height: 30px;
    font-size: 48px;
    font-weight: 400;
  }

  .doubletap {
    position: absolute;
    top: 679px;
    left: 41px;
    width: 427px;
    height: 30px;
    font-size: 48px;
    font-weight: 400;
  }
  
  .shorthold {
    position: absolute;
    top: 778px;
    left: 157px;
    width: 428px;
    height: 30px;
    font-size: 48px;
    font-weight: 400;
  }


.drag-ellipse-01 {
    position: absolute;
    width: 28px;
    height: 58px;
    top: 20px;
    left: 125px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%; /* This creates the ellipse shape */
  }
.drag-ellipse-02 {
    position: absolute;
    width: 28px;
    height: 58px;
    top: 20px;
    left: 137px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}
.drag-ellipse-03 {
    position: absolute;
    width: 28px;
    height: 58px;
    top: 20px;
    left: 171px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}
.drag-ellipse-04 {
    position: absolute;
    width: 28px;
    height: 58px;
    top: 20px;
    left: 205px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.drag-ellipse-05 {
    position: absolute;
    width: 28px;
    height: 58px;
    top: 20px;
    left: 255px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.drag-ellipse-05 {
    position: absolute;
    width: 28px;
    height: 58px;
    top: 20px;
    left: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.swipe-ellipse-01 {
    position: absolute;
    width: 154px;
    height: 25px;
    top: 130px;
    left: 38px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.swipe-ellipse-02 {
    position: absolute;
    width: 154px;
    height: 25px;
    top: 130px;
    left: 160px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.swipe-ellipse-03 {
    position: absolute;
    width: 154px;
    height: 25px;
    top: 130px;
    left: 248px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}


.flick-ellipse-01 {
  position: absolute;
  width: 22px;
  height: 7px;
  top: 278px;
  left: 57px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}
.flick-ellipse-02 {
  position: absolute;
  width: 22px;
  height: 7px;
  top: 248px;
  left: 129px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}
.flick-ellipse-03 {
  position: absolute;
  width: 22px;
  height: 7px;
  top: 270px;
  left: 191px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}
.flick-ellipse-04 {
  position: absolute;
  width: 22px;
  height: 7px;
  top: 263px;
  left: 237px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}
.flick-ellipse-05 {
  position: absolute;
  width: 22px;
  height: 7px;
  top: 248px;
  left: 319px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.nudge-ellipse-01 {
  position: absolute;
  width: 62px;
  height: 13px;
  top: 379px;
  left: 19px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.nudge-ellipse-02 {
  position: absolute;
  width: 62px;
  height: 13px;
  top: 364px;
  left: 87px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.nudge-ellipse-03 {
  position: absolute;
  width: 62px;
  height: 13px;
  top: 340px;
  left: 159px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.nudge-ellipse-04 {
  position: absolute;
  width: 62px;
  height: 13px;
  top: 326px;
  left: 199px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.pinch-ellipse-01 {
  position: absolute;
  width: 26px;
  height: 10px;
  top: 407px;
  left: 139px;
  rotate: 54deg;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.pinch-ellipse-02 {
  position: absolute;
  width: 26px;
  height: 10px;
  top: 420px;
  left: 144px;
  rotate: 54deg;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.spread-ellipse-01 {
  position: absolute;
  width: 141px;
  height: 48px;
  top: 520px;
  left: 89px;
  rotate: -42deg;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.spread-ellipse-02 {
  position: absolute;
  width: 141px;
  height: 48px;
  top: 480px;
  left: 162px;
  rotate: -42deg;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.singletap-ellipse-01 {
  position: absolute;
  width: 22px;
  height: 24px;
  top: 609px;
  left: 259px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.doubletap-ellipse-01 {
  position: absolute;
  width: 28px;
  height: 31px;
  top: 687px;
  left: 342px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.doubletap-ellipse-02 {
  position: absolute;
  width: 28px;
  height: 31px;
  top: 703px;
  left: 358px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.shorthold-ellipse-01 {
  position: absolute;
  width: 91px;
  height: 124px;
  top: 771px;
  left: 23px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.shorthold-ellipse-02 {
  position: absolute;
  width: 91px;
  height: 124px;
  top: 786px;
  left: 63px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}